@import 'reset.css';
@import 'typo.css';
@import 'component.css';
@layer reset, style, typo, component;
:root{
    --bg-color: #141414;
    --main-color: #1F1F1F;
}

body{
    background-color: var(--bg-color);
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
}
main{
    background-color: var(--main-color);
    min-width: 20.438rem;
    max-width: 24rem;
    width: 100%;
    min-height: 36.188rem;
    border-radius: 10px;
    padding: 24px;
}
img{
    border-radius: 50px;
    margin: 0 auto 24px auto;
}
.title{
    margin: 0 auto 24px auto;
    text-align: center;
}
.bio{
    text-align: center;
}
nav{
    display: flex;
    flex-direction: column;
    gap: 14px;
    justify-content: center;
    align-items: center;
}
