@font-face {
    font-family: inter_bold1;
    src: url(/assets/fonts/static/Inter-Bold.ttf);
}
@font-face {
    font-family: inter_bold2;
    src: url(/assets/fonts/static/Inter-Regular.ttf);
}
body{
    line-height: 150%;
    letter-spacing: 0px;
}
:root{
    --text-color: hsl(0, 0%, 100%);
    --localisation-color: hsl(75, 94%, 57%);
}
.name{
    font-family: inter_bold1, sans-serif;
    font-size: 1.5rem;
    color: var(--text-color);
    margin-bottom: 12px;
    font-weight: 400;
}
.localisation{
    font-family: inter_bold2, sans-serif;
    color: var(--localisation-color);
    font-size: 0.875rem;
    font-weight: 700;
}
.bio{
    font-family: inter_bold2, sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    color: var(--text-color);
    margin-bottom: 24px;
}
nav > a{
    color: var(--text-color);
    font-family: inter_bold2, sans-serif;
    font-size: 0.875rem;
    font-weight: 700;
}
footer{
    color: var(--text-color);
}